* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.titulo {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin-bottom: 10px;

}

.encabezado {

    background-image: url("https://www.cronista.com/files/image/294/294673/5ffe08b6695ec_950_534!.jpg?s=6e2e8b6aac18e7180efdc159deb290b8&d=1617035187");
    height: 220px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.derecha {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    height: auto;
}

.izquierda {
    padding-left: 10px;
    padding-top: 10px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.derecha p{
    margin-bottom: 10px;
}

.derecha input{
    margin-bottom: 10px;
}

.izquierda p{
    margin-bottom: 10px;
}

.izquierda input,select{
    margin-bottom: 10px;
}

#boton {
    margin-bottom: 10px ;
}

/* Footer */

footer {
    background: #153f59;
    height: auto;
    width: 100vw;
    font-family: 'Asap', sans-serif;
    padding-top: 27px;
    color: white;
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contenido h3 {
    font-size: 25px;
    font-weight: 1px;
    line-height: 21px;
    color: white;
}

.contenido p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 14px;
    font-size: 14px;
    margin-top: 22px;
}

.iconos {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22px 0 16px 0;
}

.iconos li {
    list-style: none;
    margin: 0 7px;  
}

.iconos a{
    text-decoration: none;
    color: #FFF;
}

.iconos a i{
    font-size: 24px;
    transition: color .4s ease;
}

.iconos a:hover i {
    color: #B5C5D7;
}

.footer-bottom {
    background: #153f59;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 13px;
    word-spacing: 4px;
}
