* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}




header {
    display: flex !important;
    min-height: 70px;
    justify-content: space-between;
    background: #153f59 !important;
    align-items: center !important;
    padding: 9px;
}

.nombre {
    padding: 10px;
    color: white;

}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
}

a {
    text-decoration: none !important;
    color:white;
    font-family: 'Roboto', sans-serif;
}

.link {
    color: white;
}

nav a {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

nav a:hover {
    color: #B5C5D7;
    background-color: black;
    
}

@media (max-width:700px) {
    
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px;
    }
}



footer {
    background: #153f59;
    height: auto;
    width: 100vw;
    font-family: 'Asap', sans-serif;
    padding-top: 27px;
    color: white;
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contenido h3 {
    font-size: 30px;
    font-weight: 1px;
    line-height: 21px;
    background: linear-gradient(180deg, gray,white);
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
}

.contenido p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 14px;
    font-size: 14px;
    margin-top: 22px;
}

.footer-bottom {
    background: #153f59;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 13px;
    word-spacing: 4px;
}

::-webkit-scrollbar {
    display: none;
}
